@use "../../styles/variables" as *;

.cards {
  display: flex;
  justify-content: space-between;

  .card {
    display: block;
    position: relative;
    width: 300px;
    height: 300px;

    .front,
    .back {
      position: absolute;

      border: 3px solid red;

      top: 0;
      bottom: 0;
      right: 0;
      left: 0;

      backface-visibility: hidden;
      transition: transform 0.5s linear 0s;

      .content {
      }
    }

    .front {
      transform: perspective(600px) rotateY(0deg);
    }
    .back {
      transform: perspective(600px) rotateY(180deg);
    }

    &:hover .back {
      transform: perspective(600px) rotateY(0deg);
      z-index: 3;
    }
    &:hover .front {
      transform: perspective(600px) rotateY(-180deg);
      z-index: 3;
    }
  }
}