@use './styles/variables' as *;

body {
    // color: $color-text-dark;
    // background-color: $bg-body;
    margin: 0 auto;

    font-size: 16px;
    // font-family: $font-regular;
    font-weight: 300;
    
    -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    scroll-behavior: smooth;
    // border:1px solid red;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    
    margin: 0 auto;
}